@import 'https://use.typekit.net/cvo7jpo.css';
@import 'colors';

html,
body,
form,
input {
  padding: 0;
  margin: 0;
  color: $black;
  font-family: proxima-nova, Helvetica Neue, sans-serif;
  font-size: 16px;
}

body {
  background: #ededed;
}

a {
  color: $blueLink;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spinner {
  background: rgba(255,255,255,.5);
  justify-content: center;
  min-height: 100vh;
  padding: 5rem;
  position: absolute;
  text-align: center;
  display: flex;
  width: 100%;
  z-index: 2;
}

.alert_error {
  background-color: rgb(255 134 0 / 18%);
  color: #676767;
  display: block;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.1rem;
  border-bottom: 1px solid #e7c7a5;
  p {
    margin: 0.3rem;
  }
}
.breadcrumb {
  color: #8f8f8f;
  display: block;
  font-size: 0.9rem;
  margin: auto;
  max-width: 890px;
  padding: 1.2rem 0;
  width: 100%;
}